<body class="font-sans antialiased min-h-screen bg-white dark:bg-gray-900">
    <div class="fixed inset-0 -z-10 h-full w-full bg-white dark:bg-gray-900">
        <div class="absolute h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] dark:bg-[radial-gradient(#374151_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)]"></div>
    </div>
    <div class="transition-colors relative">
        <main class="mx-auto max-w-5xl px-6 lg:px-8">
            <slot />
        </main>
    </div>
</body>
